.nav-link a{
    display: block;
    text-decoration: none;
    color: white;
    
}
.nav-link a:hover{
  
    color: hotpink;
    
}

.footer{

 margin-top: 100px;
 padding-bottom: 50px;
  color: white;
  text-align: center;
}

